# Database Connection Settings
DB_HOST=localhost
DB_PORT=5432
DB_USER=elite_db_role
DB_PASSWORD=elite_danger_pass
DB_NAME=elite_dangerous

# Internal Docker Settings
POSTGRES_USER=elite_db_role
POSTGRES_PASSWORD=elite_danger_pass
POSTGRES_DB=elite_dangerous

# pgAdmin Web UI Settings
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin
